
.carousel-indicators {
    position: absolute;
    right: 30px;
    bottom: -8%;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: flex-start;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 5%;
    list-style: none;
    flex-wrap: wrap;
}
.carousel-area .product-slide {
    padding: 10px 12px 0;
}

.slider-1461 .swiper-pagination-bullet {
    background-color: #e1e1e1;
}

.swiper-slide {
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.row-best-seller {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.content-product .product-title a {
    display: block;
    width: 100%;
}

.content-product .product-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
}

.button:not(.compare), .product-slide .product-details .button:not(.compare) {
    margin-top: 15px;
}
.product-details {
    position: relative;
    padding-bottom: 12px;
}
.content-product .price {
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.3em;
    display: block;
    font-size: 1.14rem;
    color: #222222;
}
.content-product .product-image-wrapper {
    margin: 0 auto 0.5em;
}
.content-product .button {
    height: auto;
    padding-top: .91rem;
    padding-bottom: .91rem;
    border: none;
}
.content-product .product-image-wrapper {
    max-width: 100%;
    margin: 0 auto 15px;
}

.product-image-wrapper {
    position: relative;
    overflow: hidden;
}

.content-product .corner-text {
    position: absolute;
    top: -11px;
    /* left: -9px; */
    z-index: 3;
    font-size: 0.9rem;
    right: -5px;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.corner-text {
    background-color: #1b1b1b;
    border-radius: 50%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    font-weight: bold;
    font-size: 1.43rem;
    line-height: 2.75em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
    color: white;
    display: inline-block;
    text-transform: uppercase;
}
.onsale, .sale-value {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    padding: 3px 8px;
    background: #c62828;
    font-size: .85rem;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
}

.carousel-area .product-slide {
    padding: 10px 12px 0;
}

body, .quantity input[type="number"], .page-wrapper, p {
    color: #333333;
}
.wf-container > * {
    font: normal 14px / 25px "LatoWeb", Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #333333;
}
.swiper-slide {
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
}
body ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background: #e1e1e1;
}
.swiper-entry:not(.swipers-couple-wrapper) .swiper-wrapper {
    cursor: url(~/Images/drag.png) 16 9, ew-resize;
}
.swiper-pagination {
    position: relative;
    text-align: center;
    transition: 300ms;
    transform: translateY(-50%);
    z-index: 10;
}
.slider-5768 .swiper-pagination-bullet {
    background-color: #c62828;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #222222;
    opacity: .4;
}

.swiper-pagination-bullet {
    display: inline-block;
    border-radius: 100%;
}

/*---------------------------------------------*/

.swiper-container.carousel-area:not(.swiper-container-multirow) {
    margin-left: -12px;
    margin-right: -12px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}



.swiper-entry .swiper-custom-left, .swiper-entry .swiper-custom-right {
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition-delay: .5s;
}

.swiper-custom-right {
    right: -90px;
}

.swiper-custom-left, .swiper-custom-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    background-color: #e1e1e1;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}




.text-center{
    text-align:center!important;
}

.hp-category-title {
    font-size: 2rem;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }   
}
    


    /*carousel-inner img {
    width: 70%!important;
}

.navbar li a {
    color: black !important;
}*/

    /*Media carousel*/

    /*@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }

        .carousel-caption h1 {
            font-size: 250%;
        }

        .carousel-caption h3 {
            font-size: 160%;
        }

        .carousel-caption .btn {
            font-size: 120%;
        }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }

        .carousel-caption h1 {
            font-size: 220%;
        }

        .carousel-caption h3 {
            font-size: 140%;
            padding-bottom: 0.2rem;
        }

        .carousel-caption .btn {
            font-size: 95%;
            padding: 8px 14px;
        }
}

.carol-p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

.img-carol{
    width:50%!important;

}*/



/*.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
}

.carousel-item {
    position: relative;
    display: none;
    float:none;
    margin:0 0 0 0 !important;
    width: 50%!important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    align-self:center
}

    .carousel-item:active {
        margin: 0 0 0 0;
    }
@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }

        .carousel-caption h1 {
            font-size: 150%;
        }

        .carousel-caption h3 {
            font-size: 110%;
        }

        .carousel-caption .btn {
            font-size: 90%;
            padding: 4px 8px;
        }
}*/