.body-wrap {
    min-height: 700px;
}

.col > li {
    display: inline-block;
}

.body-wrap {
    position: relative;
    z-index: 0;
}

    .body-wrap:before, nav {
        margin-top: 0px;
        box-shadow: 5px 4px 5px #000;
    }

.navbar-first {
    overflow: hidden;
    background-color: #333;
}

    .navbar-first a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        text-decoration: none;
        line-height: 1.3em;
        display: inline-block;
        padding-block: auto;
        justify-self: center;
    }

.dropdown-first {
    float: left;
    overflow: hidden;
    display: flex;
    
}
    
    .dropdown-first .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .dropdown-first:hover .dropbtn {
        background-color: red;
    }

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 50px;
    background-color: #f9f9f9;
    min-width: 160px; /*
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    font-size: 14px;
    transition-delay: 1s;
}

    .dropdown-content .ul {
        min-width: 50%;
        text-align: left;
    }

    .dropdown-content a {
        float: none;
        color: black;
        text-decoration: none;
        display: block; 
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown-first:hover .dropdown-content {
    opacity: 1;
    transition: opacity;
    transition-delay: 2s;
}

/*.dropdown-first:hover .dropdown-content {
    display: inline-flex;
}
*/
