html, body {
    height: 100%;
    width:auto;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set padding to keep content fwm hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: rgb(19, 16, 16)
}
.navbar {
    background-color: rgba(rgb(218, 216, 190), green, blue, 0.9) !important;
}
    .navbar li a {
        color: violet !important;
    }
        .navbar li a:hover {
            color: black !important;
        }*/
/*.container {
    min-height: 400px;
    width: 70%;
    margin: auto;
}*/
.title {
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
    line-height: 60px;
    color: #555;
}

    .title::after {
        content: "";
        background: #ff523b;
        width: 200px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-bottom: 10px;
        transform: translateX(-50%);
    }
    /*.title::before {
        content: "";
        background: #ff523b;
        width: 200px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        top:-5px;
        left: 50%;
        transform: translateX(-50%);
        margin-top:10px;
    }*/



.container-content {
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .container-content .col-3 {
        width: 300%;
        min-height: 500px;
    }

.col-3 {
    max-width: 75%;
}

.col-3 {
    flex: auto;
}

.flex-grid-third1 {
    display: flex;
    justify-content: space-between;
}

    .flex-grid-third1 img {
        width: 33%;
    }

.flex-grid-third2 {
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 66%
}

    .img1 img {
        width: 100%;
    }

.img2 {
    width: 33%
}

    .img2 img {
        width: 100%;
    }

.col-1 {
    width: 250%;
    display: flex;
    /*justify-content: flex-end;*/
    min-height: 500px;
    max-width: 150%;
}

.col-1 {
    /*-ms-flex: 0 0 8.333333%;*/
    /* flex: 0 0 8.333333%; */
    /* max-width: 8.333333%; */
}

    .col-1 img {
        width: 65%;
    }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div > img {
    width: 100%;
    height: 100%;
}


.productImg {
    width: 155px;
    height: 155px;
    position: relative;
    margin: auto;
}

.productContent {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-title {
    color: black;
    text-decoration: none;
}

.product-quantity {
    width: 25%;
}

thead > tr > th.centerTH {
    text-align: center;
}

.cart-collaterals {
    padding: 1.7em 2em 2em;
    border: 1px solid #e1e1e1;
}

.cart-order-details .cart_totals > h2, .cart-order-details .order-review .step-title {
    margin-top: 1px;
}

.cart-order-details .cart_totals > h2, .cart-order-details .order-review .step-title {
    margin-bottom: 1em;
}

.widget-title, .widgettitle, .cart-totals > h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: 1em;
    border-bottom: 1px solid #e1e1e1;
}

td.data-title {
    display: flex;
    justify-content: flex-end;
}


.btn-thanh-toan {
    margin-top: 20px;
    display: block;
    width: 100%;
}

/*Footer*/

.container-fluid {
    margin: auto;
}


.footer {
    background: #000000;
    height: auto;
}


    .footer p {
        color: #555;
        font-size: small;
        text-align: center;
        margin-bottom: 5px;
    }

    .footer h3 {
        color: #555;
        font-size: small;
        text-align: center;
        margin-top: 30px
    }

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.footer-col-1 {
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 20px;
    padding: 0;
}

.footer-col-2 {
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 15px;
    padding: 0;
}

    .footer-col-2 .app-logo {
        flex: 1;
        table-layout: auto;
        margin-top: 15px;
        text-align: center;
        width: 250px
    }

/*a {
    text-decoration: none;
    padding-left:30px;
}*/



.img-index {
    width: 100%;
    height: 100%;
    margin: auto;
}
/*end footer*/
/*login*/
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 75.666667%;
    border: 1px solid grey;
    border-radius: 20px;
}


.navigation-wrap {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.img-detail-history {
    width: 100px;
    height: 100px;
}

.product-price-history {
    align-items: center;
    display: flex;
    justify-content: center;
}

.history-button {
    display: flex;
    justify-content: flex-end;
}



.history-total-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-delivery-confirm {
    min-width: 150px;
    min-height: 40px;
    padding: 8px 20px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    border-radius: 2px;
    outline: 0;
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
}

.button-delivery-confirmed {
    min-width: 150px;
    min-height: 40px;
    padding: 8px 20px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    border-radius: 2px;
    outline: 0;
    background-color: #555;
    border-color: #555;
    color: #fff;
}

.button-comment-order {
    min-width: 150px;
    min-height: 40px;
    padding: 8px 20px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    border-radius: 2px;
    outline: 0;
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
}


.button-index {
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-size: .85rem;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    border: 1px solid #f2f2f2;
    color: #222222;
}
