
@{

}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <form>
        <div class="comment">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Trang chủ</a>
        </div>
    </form>
    <div class="py-xl-5 my-xl-5"></div>
    
</div>

