
@{
    
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <form>
        <div class="comment">
            <label for="w3review">Xin mời để lại bình luận cho đơn hàng!</label>
            <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
        </div>
    </form>
    
</div>

