@model MicroWaveFood.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid banner">
    <div class="title">
        <h4 align-items : center>FC-ĐỒ LÀM BÁNH, NẤU ĂN VÀ PHA CHẾ</h4>
    </div>
    <div class="container-content">
        <div class="col-3">
            <div class="flex-grid-third1">

                <img src="~/Images/lAU.jpg" />


                <img src="~/Images/Bo-anchor-2.jpg" />


                <img src="~/Images/Tran-chau.jpg" />

            </div>
            <div class="flex-grid-third2">
                <div class="img1">
                    <img src="~/Images/Banner-anchor-1.jpg" />
                </div>
                <div class="img2">
                    <img src="~/Images/Anh-vuong.jpg" />
                </div>
            </div>
        </div>
        <div>
            <div class="col-1">
                <img src="~/Images/Banner-whip-2.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model.ProductList)
        {
            <div class="col pt-5">
                <div class="productImg">
                    <img class="img-index" src="@item.Image"/>
                </div>
                <div class="product-content-container">
                    <div class="productContent">
                        <div class="product-name">
                            <p style="text-align:center">@item.ProductName</p>
                        </div>
                        <div class="product-price">
                            <p style="text-align:center">@item.Price</p>
                        </div>
                    </div>
                    <a href="@Url.Action("AddToCart", "Cart", new { @productId = item.ProductId, @strUrl = Request.Url.ToString() })" class="btn btn-primary">Thêm vào giỏ hàng</a>
                </div>
            </div>
        }
    </div>
</div>